/* Reset unwanted margins/paddings */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure app takes full width */
#app {
  margin: 0;
  padding: 0;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}
